.body{
    
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
.container{
    height: 100vh ;
    display: flex;
    align-items: center;
    
}
.content{
    /* dsadsds */
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.topbox{
    display: flex;
}
.bottombox{
    display: flex;

}
.box5{
    width: 150px;
    height:150px ;
}
.one1{
    background-color: red;
}
.one2{
    background-color: green;
}
.one3{
    background-color: yellow;
}
.one4{
    background-color: grey;
}
.one5{
    background-color: purple;
}
.one6{
    background-color: cadetblue;
}
.one7{
    background-color: blue;
}


